body,
html {
  margin: 0;
  font: caption;
  height: 100%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #999;
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 62px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 114%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.gjs-pn-panel {
  position: relative;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.editor-column {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100%;
  overflow: auto;
}

.editor-clm {
  display: flex;
  flex-direction: column;
}

/* blocks */
.gjs-block-categories {
  display: flex;
  flex-direction: column;
}
.gjs-category-open,
.gjs-block-category.gjs-open,
.gjs-sm-sector.gjs-sm-open {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.gjs-block-category {
  width: 100%;
}
/* .gjs-blocks-c {
     justify-content: center;
     height: 50px;
  }
   */
.gjs-blocks-c {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
  padding: 8px;
}
.gjs-blocks-no-cat .gjs-blocks-c {
  display: none;
}
.gjs-block {
  width: auto;
  font-size: 5px;
  justify-content: center;
  height: auto;
  min-height: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin: 0px;
}

.gjs-block__media svg {
  width: 2.5rem;
  height: 2.5rem;
}

/* .gjs-block-label {
      display: none;
  } */

.gjs-cv-canvas {
  width: 100%;
  height: 100%;
  top: 0;
}

.gjs-blocks-cs {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
}

/* Theming */
.gjs-one-bg {
  background-color: #242a3b;
}

.gjs-two-color {
  color: #9ca8bb;
}

.gjs-three-bg {
  background-color: #1e8fe1;
  color: white;
}

.gjs-four-color,
.gjs-four-color-h:hover {
  color: #1e8fe1;
}

#blocks {
  display: none;
  background: #414759;
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#block-button {
  display: flex;
  height: 10px;
  width: 10px;
  position: absolute;
  z-index: 4;
  padding: 14px;
  background: #fff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.block-heading,
.layer-heading,
.style-heading {
  display: flex;
  padding: 10px;
  font-weight: 600;
}

#block-icon {
  transition: transform 0.3s ease-in-out;
  font-size: 19px;
}

.rotate {
  transform: rotate(45deg);
}

.gjs-pn-buttons {
  align-items: center;
  display: flex;
  justify-content: end;
}

.custom-select {
  width: fit-content !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 0px 30px 0px 4px !important;
  margin-top: 3px;
  border-radius: 2px !important;
}

/* Navbar Block */
.navbar-preview {
  background-color: #f8f9fa;
  padding: 15px;
  margin: 10px 0;
}

/* Additional styling for the navbar block in the editor */
.navbar {
  background-color: #f8f9fa;
  padding: 10px;
}

.nav-link {
  color: #007bff;
}

.cm-s-hopscotch.CodeMirror,
.CodeMirror-linenumbers {
  background: #242a3b;
  color: #d5d3d5;
}

.gjs-mdl-title {
  white-space: pre-line;
}
